<!-- Import the CSS file for the forget_password.css file. -->
<link rel="stylesheet" href="../css/forget_password.css">

<!-- The `main` element contains the main content of the page. -->
<main>

    <!-- The `image` element contains an image of a person resetting their password. -->
    <div class="image">
        <img src="../images/reset_password.jpg" alt="reset-password">
    </div>

    <!-- The `form` element contains the form for resetting the password. -->
    <form action="/users/reset-password" method="post">

        <!-- The `email` input element is used to enter the user's email address. -->
        <input type="email" name="email" id="email" placeholder="Email">

        <!-- The `password` input element is used to enter the user's new password. -->
        <input type="password" name="password" id="password" placeholder="Password">

        <!-- The `confirm_password` input element is used to confirm the user's new password. -->
        <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password">

        <!-- The `submit` button is used to submit the form. -->
        <input type="submit" value="Change Password">

    </form>

</main>