<!-- Import the CSS file for the welcome.css file. -->
<link rel="stylesheet" href="../css/welcome.css">

<!-- The `main` element contains the main content of the page. -->
<main>

    <!-- The `left` element contains the text and a link to the login page. -->
    <div class="left">

        <h1>Welcome to Habit Tracker App</h1>
        <h3>The Habit Tracker app is a powerful tool designed to help you build and maintain healthy habits in your
            daily life. With this app, you can track your progress, stay motivated, and achieve your goals. The Habit
            Tracker app empowers you to build a routine that aligns with your goals and values. Whether you want to
            exercise regularly, read more books, meditate daily, or quit a bad habit, this app will support you every
            step of the way. Start tracking your habits today and unlock your full potential!</h3>
        <a href="/users/login">Getting Started ></a>

    </div>

    <!-- The `right` element contains an image of a calendar. -->
    <div class="right">
        <img src="../images/calender.png" alt="calender-image">
    </div>

</main>